data/*
results/onionnet2/
OnionNet-2/
Dynafomer/
results_take2/
results/figures/
results/pafnucy/
results/dynaformer
*tar.gz
scripts/
venv/
utils/
results/pick_need_rerun.py
results/model_performance_summary*
results/model_predict*
results/*.py
