data/*
OnionNet-2/
Dynafomer/
results/onionnet_take1
results_take2/
results/figures/
results/pafnucy/
results/dynaformer_take1
*tar.gz
scripts/
venv/
utils/
results/pick_need_rerun.py
results/model_performance_summary*
results/model_predict*
results/*.py
results/dynaformer/*.pkl
